<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="${basedir}/logs/internal.log">

    <extensions>
        <add assembly="NLog.Extensions.Logging"/>
    </extensions>

    <targets async="true">
        <target xsi:type="File" 
                name="logfile" 
                fileName="${basedir}/logs/application-${shortdate}.log"
                layout="${longdate}|${level:uppercase=true}|${logger:shortName=true}|${message}${onexception:inner=${newline}${exception:format=tostring}}"
                archiveFileName="${basedir}/logs/archives/parser-{#}.log"
                archiveEvery="Day"
                maxArchiveFiles="30" />
        
        <target xsi:type="ColoredConsole" 
                name="console"
                useDefaultRowHighlightingRules="true"
                layout="${time}|${level:uppercase=true}|${message}">
            <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
            <highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
            <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
            <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
            <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
        </target>
    </targets>

    <rules>
        <logger name="FirebirdTraceParser.*" minlevel="Debug" writeTo="logfile,console" />
        <logger name="FirebirdTraceAnalyzer.*" minlevel="Debug" writeTo="logfile,console" />
        <logger name="Microsoft.*" maxlevel="Info" final="true" />
    </rules>
</nlog>